@media screen and (max-width: 428px) {
    .wrapper {
        padding: 0;
    }

    p {
        font-size: 0.85rem !important;
    }

    header > h4 {
        position: absolute;
        right: .5rem;
        padding-top: 1rem;
        color: whitesmoke;
        font-size: 1rem;
    }

    main {
        padding: 0 .8rem;
    }

    .welcome__section > p {
        width: 100%;
    }

    .uuid {
        display: grid;
        place-items: center;
        margin: 1rem 0 2rem 0;
    }
    

    .subscribe > div {
        width: 100%;
        padding: 0 2rem;
    }    

    aside > p {
        width: 100%;
    }

    footer {
        padding: 5rem 0;
    }
}
